body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: bold;
    font-size: 36pt;
    margin: 70px;
}

#play_button {
    font-size: 48pt;
    margin: 100px;
    padding: 15px;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.board {
    width: 500px;
    height: 500px;
    border: solid black 5px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}

.box {
    cursor: pointer;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 64pt;
    border: solid 5px black;
}

[data-box="1"], [data-box="2"], [data-box="3"] {
    grid-row-start: 3;
}

[data-box="4"], [data-box="5"], [data-box="6"] {
    grid-row-start: 2;
}

.hidden {
    display: none;
}

#game_board_disabler{
    width: 500px;
    height: 500px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

#game_over{
    background-color: black;
    color: white;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
}

#game_over_text{
    font-size: 36pt;
    margin: 30px;
    margin-bottom: 0;
}

#game_over_tie, #game_over_winner{
    font-size: 28pt;
    margin: 30px;
    margin-top: 0;
}

#restart_btn{
    font-size: 24pt;
    padding: 10px;
    margin-top: 50px;
}